@{
    ViewData["Title"] = "Jaylan Esquivel";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo!!</h1>
    <p>Tudo começa aqui Jaylan <a href="https://docs.microsoft.com/aspnet/core">ASP.NET Core</a>.</p>
</div>
